@model SportsStore.Domain.Entities.Product
<div class="blog_item">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                @if (Model.ImageData != null)
                {
                    <div>
                        <img width="75" height="75" src="@Url.Action("GetImage", "Product", new {Model.ProductID })" />
                    </div>
                }
            </div>
            <div class="col-md-7">
                <h3>@Model.Name</h3>
                @Model.Description
            </div>
            <div class="col-md-2">
                @using (Html.BeginForm("AddToCart", "Cart"))
                {
                    @Html.HiddenFor(x => x.ProductID)
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    <input type="submit" value="Добавить в корзину" />
                }
                <h4>@Model.Price.ToString("c")</h4>
            </div>       
    </div>
</div>
</div>



@*@model SportsStore.Domain.Entities.Product

    <div class="item">
        <h3>@Model.Name</h3>
        @Model.Description
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            @Html.HiddenFor(x => x.ProductID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" value="+ Add to cart" />
        }
        <h4>@Model.Price.ToString("c")</h4>
    </div>*@
