@model SportsStore.WebUI.Models.CartIndexViewModel
@{
    ViewBag.Title = "Sports Store: Your Cart";
}
<h2>Корзина</h2>
<div class="cart_table">
    <table width="90%" align="center">
        <thead>
            <tr>
                <th align="center">Количество</th>
                <th align="left">Товар</th>
                <th align="right">Цена</th>
                <th align="right">Промежуточный итог</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Cart.Lines)
            {
                <tr>
                    <td align="center">@line.Quantity</td>
                    <td align="left">@line.Product.Name</td>
                    <td align="right">@line.Product.Price.ToString("c")</td>
                    <td align="right">@((line.Quantity * line.Product.Price).ToString("c"))</td>
                    <td>
                        @using (Html.BeginForm("RemoveFromCart", "Cart"))
                        {
                            @Html.Hidden("ProductId", line.Product.ProductID)
                            @Html.HiddenFor(x => x.ReturnUrl)
                            <input class="actionButtons" type="submit" value="Убрать" />
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" align="right">Итого:</td>
                <td align="right">
                    @Model.Cart.ComputeTotalValue().ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<p align="center" class="actionButtons">
    <a href="@Model.ReturnUrl">Продолжить покупки</a>
    @Html.ActionLink("Оформить", "Checkout")
</p>